NET Linear_Flash_address[0] LOC = "M22"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[10] LOC = "V27"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[11] LOC = "V29"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[12] LOC = "V30"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[13] LOC = "V25"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[14] LOC = "W26"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[15] LOC = "V19"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[16] LOC = "V20"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[17] LOC = "W23"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[18] LOC = "W24"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[19] LOC = "U23"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[1] LOC = "M23"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[20] LOC = "V21"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[21] LOC = "V22"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[22] LOC = "U24"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[23] LOC = "V24"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[24] LOC = "W21"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[25] LOC = "W22"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[2] LOC = "N26"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[3] LOC = "N19"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[4] LOC = "N20"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[5] LOC = "N21"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[6] LOC = "N22"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[7] LOC = "N24"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[8] LOC = "P21"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[9] LOC = "P22"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_adv_ldn LOC = "M30"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_ce_n LOC = "U19"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[0] LOC = "R26"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[10] LOC = "T21"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[11] LOC = "T20"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[12] LOC = "R21"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[13] LOC = "R20"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[14] LOC = "R25"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[15] LOC = "P24"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[1] LOC = "P26"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[2] LOC = "T30"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[3] LOC = "P28"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[4] LOC = "P27"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[5] LOC = "R29"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[6] LOC = "P29"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[7] LOC = "U20"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[8] LOC = "T23"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[9] LOC = "T22"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_oe_n LOC = "M24"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_we_n LOC = "M25"  |  IOSTANDARD = "LVCMOS25";
